@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p1/14159652-fundo-verde-sobreposicao-dimensao-placa-de-mensagem-ilustracaoial-cinza-para-site-moderno-de-design-de-texto-e-mensagem-vetor.jpg);
    background-size: cover;
}

.container {
    opacity: 95%;
    color: black;
    position: relative;
    overflow: hidden;
    background-image: url(https://static.vecteezy.com/system/resources/previews/004/697/688/original/curve-light-blue-background-abstract-free-vector.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 450px;
}

.content {
    margin-left: 60px;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


h2 {
    font-size: 40px;
    font-weight: bolder;
    color: #157cc0;
}

.content p {
    margin-left: 20px;
    font-size: 15px;
    margin-top: 15px;
    color: rgb(15, 15, 15);
}


.field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
}

.input {
    margin: 10px 10px;
    height: 22px;
    width: 200px;
    right: 30px;
    font-size: 12px;
}

#button:hover{
    opacity: 90%;
    transform: scale(1.1);
}

#button {
    border: none;
    color: white;
    background-color: #157cc0;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10%;
    height: 30px;
    width: 80px;
    margin-left: 10px;
}


img {
    /* position: absolute; */
    margin-left: 20%;
    border-radius: 20px;
    box-shadow: 5px 5px 30px;
    /* max-width: 70vw; */
    /* transform: skew(2deg, 1deg); */
    /* z-index: -2; */
}

p {
    font-size: 15px;
}

div#parallelogram {
    margin-left: 60%;
    background: #157cc0;
    width: 400px;
    height: 400px;
    max-width: 70vw;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
    /* Modifica a inclinação do elemento em 
	   um plano 2D. */
    /* Parâmetros: eixo x , eixo y. em graus.*/
    transform: skew(6deg, 3deg);
    /* Posiciona qualquer elemento de acordo com 
	   o elemento pai, Deixando de fazer parte do 
	   fluxo comum do documento.*/
    position: absolute;
    /* Define a ordem dos elementos quando 
       sobrepostos.*/
    z-index: -1;
}
